body {
  background-color: rgb(181, 181, 222);
  font-family: "Roboto", sans-serif;
}

a {
  color: rgb(97, 50, 126);
}

.weather-app {
  background: rgb(236, 233, 237);
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  box-shadow: rgb(202, 202, 232);
  border-radius: 10px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: rgb(181, 181, 222);
  border: none;
  border-radius: 6px;
  max-width: 80%;
  padding: 15px 35px;
}

.search-form-button {
  background: rgb(97, 50, 126);
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: rgb(239, 236, 236);
  margin-left: 5px;
  font-size: 14px;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  line-height: 24px;
  font-weight: 500px;
}

.weather-app-details strong {
  color: #f65282;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
}

.weather-app-unit {
  font-size: 25px;
  margin-top: 22px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}
